.flex{
    display: flex;
}

.show-time {
    background-color: lightgoldenrodyellow;
    width: 600px;
    height: 300px;
    text-align: center;
}

.count-down {
    background-color: lightgoldenrodyellow;
    width: 600px;
    height: 300px;
    text-align: center;
}

.who-watch {
    background-color: lightgoldenrodyellow;
    width: 200px;
    height: 250px;
    text-align: center;
    margin: 10px;
}

.dark-bg {
    background-color: darkblue;
    color: white;
}

.red-bg {
    /* background-color: red; */
    color: red
}

.user-list img {
    max-height: 100px;
}